iframe {
  display: none;
}

/*GLOBAL COLOR*/

:root {
  --blue: rgb(200, 240, 255);

  /* offset-x | offset-y | blur-radius | spread-radius | color */
  --shadow: 10px 10px 30px 5px rgba(0, 0, 0, 0.7);

  --transparent: rgba(0, 0, 0, 0.8);
}


/*REDACTION FONT*/

@font-face {
  font-family: 'Redaction 35 Italic';
  src: url('../fonts/Redaction_2_001/Redaction_35-Italic.woff2') format('woff2');
}

@font-face {
  font-family: 'Redaction 50 Italic';
  src: url('../fonts/Redaction_2_001/Redaction_50-Italic.woff2') format('woff2');
}

@font-face {
  font-family: 'Redaction 70 Italic';
  src: url('../fonts/Redaction_2_001/Redaction_70-Italic.woff2') format('woff2');
}

@font-face {
  font-family: 'Redaction 100 Italic';
  src: url('../fonts/Redaction_2_001/Redaction_100-Italic.woff2') format('woff2');
}

.redaction35 {
  font-family: 'Redaction 35 Italic', serif;
  font-style: italic;
  font-weight: 500;
}

.redaction50 {
  font-family: 'Redaction 50 Italic', serif;
  font-style: italic;
  font-weight: 500;
}

.redaction70 {
  font-family: 'Redaction 70 Italic', serif;
  font-style: italic;
}


html,
body {
  margin: 0;
}

#outer-wrapper {
  position: absolute;
  width: 100vh;
  height: 100vw;
  transform: rotate(-90deg) translateX(-100vh);
  transform-origin: top left;

  overflow-y: scroll;
  scroll-behavior: smooth;

  overflow-x: hidden;
}

#wrapper {
  display: flex;
  flex-direction: row;
  width: 1500vw;
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
  background-image: linear-gradient(90deg, black 80%, white 80%);

  scrollbar-color: black;
  scrollbar-width: thin;
}

.screen {
  position: relative;
  width: 100vw;
  height: 100vh;
  /*  scroll-snap-align: start;*/
}


.one {}

.two {}

.three {}

.four {}

.five {}

.six {}

.seven {}

.eight {}

.nine {}

.ten {}

.eleven {}

.twelve {}

.thirteen {}

.fourteen {}

.fifteen {}


#wrapper2 {
  display: none;
  flex-direction: row;
  width: 500vw;
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
  /*  z-index: -100;*/
}

#wrapper2-1 {
  /*  background-color: black;*/
}

#wrapper2-2 {
  background-color: var(--blue);
}

#wrapper2-3 {
  background-color: black;
}

#wrapper2-4 {
  background-color: var(--blue);
}

#wrapper2-5 {
  background-color: black;
}



::selection {
  color: black;
  background-color: var(--blue);
}


h1 {
  font-family: chapman, serif;
  font-weight: 400;
  font-style: normal;

  margin-bottom: 2vw;
  font-size: 10vw;
  line-height: 9vw;
}

h2 {
  margin: 0;
  font-family: 'Redaction 35 Italic', serif;
  font-style: italic;
  font-weight: 500;

  font-size: 10vw;
  line-height: 9vw;
}

h5 {
  margin: 0;
  font-family: 'Redaction 100 Italic', serif;
  font-style: italic;
  font-weight: 500;

  font-size: 1vw;
  line-height: 9vw;
  color: var(--blue);
}

p em {
  font-family: chapman, serif;
  font-weight: 400;
  font-style: italic;
}

p {
  margin: 0 0 1vh;
  font-family: chapman, serif;
  font-weight: 400;
  font-style: normal;
  color: var(--blue);
  padding: 0.2vw 0.5vw 0vw;
}

details,
details p {
  font-family: chapman, serif;
  font-weight: 400;
  font-style: normal;

  padding: 1rem;

  /*  color: black;*/
  color: var(--blue);
}

summary {
  cursor: pointer;
  list-style: none;
}

.headline {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 2vh 2vw;

  color: var(--blue);
  z-index: 100;
  pointer-events: none;

  font-size: 1vw;
  
  mix-blend-mode: exclusion;
}


/*SCROLLBAR*/

/* width */
::-webkit-scrollbar {
  width: 0.3rem;
}

/* Track */
::-webkit-scrollbar-track {
  background-image: linear-gradient(black 65%, white 80%);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--blue);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: white;
}


/*P5 SKETCHES*/

iframe {
  border: none;
  position: absolute;
}


.text1-1 {
  position: absolute;
  top: 15vh;
  left: 10vw;
  mix-blend-mode: exclusion;
}

/*SCREEN 1*/

.intro {
  position: relative;
  top: 0;
  top: 10vh;
  left: 45vw;
  width: 50vw;
  font-size: 1.5vw;
}

.em {
  text-decoration: underline;
  background-color: var(--blue);
  color: black;
}

#button,
#button-end,
#button-again {
  position: absolute;
  width: 25vw;
  top: 50vh;
  left: 50vw;
  cursor: pointer;
}

.route {
  top: 0;
  left: 0;
  height: 150vh;
  position: absolute;
  z-index: -100;
}


/*SCREEN 2*/

.bear {
  position: absolute;
  left: 10vw;
  top: 1vh;
  width: 50vw;
  /*  z-index: -100;*/
  mix-blend-mode: exclusion;
}

.forecastle {
  position: absolute;
  left: -10vw;
  bottom: 5vh;
  width: 30vw;
}

#text2-1 {
  position: absolute;
  top: 15vh;
  left: 10vw;
  font-size: 2vw;

  color: var(--blue);
  mix-blend-mode: exclusion;
}

.scroll {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  mix-blend-mode: lighten;
}


/*SCREEN 3*/

.sled-dogs {
  position: absolute;
  right: 12vw;
  top: 10vh;
  width: 50vw;
  mix-blend-mode: exclusion;
}

.sled-deer {
  position: absolute;
  width: 75vw;
  top: 10vh;
  mix-blend-mode: exclusion;
}

.sled-sail {
  position: absolute;
  left: -15vw;
  top: -25vh;
  width: 70vw;
  mix-blend-mode: exclusion;
}

#text3-1 {
  position: absolute;
  top: 15vh;
  left: 15vw;

  z-index: 100;

  font-size: 1vw;
}

#text3-2 {
  display: flex;
  flex-direction: column;

  position: absolute;
  left: 20vw;
  top: 50vh;

  display: none;

  z-index: 100;

  font-size: 1vw;
}

#text3-3 {
  display: flex;
  flex-direction: column;

  position: absolute;
  left: 50vw;
  top: 60vh;

  display: none;

  z-index: 100;

  font-size: 1vw;
}


/*SCREEN 4*/

.natives1 {
  position: absolute;
  right: 25vw;
  top: 0vh;
  width: 50vw;
  mix-blend-mode: exclusion;
}

.natives2 {
  position: absolute;
  width: 30vw;
  bottom: -5vh;
  left: 10vw;
  mix-blend-mode: exclusion;
}

.grave1 {
  position: absolute;
  right: 0vw;
  bottom: 15vh;
  width: 25vw;
  mix-blend-mode: exclusion;
}

.grave2 {
  position: absolute;
  right: 25vw;
  bottom: 5vh;
  width: 25vw;
  mix-blend-mode: exclusion;
}

.grave3 {
  position: absolute;
  right: 10vw;
  bottom: 0vh;
  width: 25vw;
  mix-blend-mode: exclusion;
}

#text4-1 {
  position: absolute;
  top: 15vh;
  left: 10vw;
  width: 65vw;

  /*  mix-blend-mode: exclusion;*/
  background-color: var(--transparent);
  border: 1px solid var(--blue);

  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: var(--shadow);

  z-index: 100;
  font-size: 1.5vw;
}

#text4-2 {
  display: none;
  z-index: -100;
  margin-left: 1vw;
}


/*SCREEN 5*/

.hut {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0vh;
  left: 0vw;
  mix-blend-mode: darken;
}

.hut1 {
  position: absolute;
  width: 75vw;
  top: 1vh;
  left: 16vw;
  mix-blend-mode: exclusion;
}

.hut2 {
  position: absolute;
  width: 50vw;
  top: 16vh;
  left: 27vw;
  mix-blend-mode: multiply;
}

#text5-1 {
  position: absolute;
  top: 15vh;
  left: 10vw;
  mix-blend-mode: exclusion;
}

#text5-2 {
  position: absolute;
  top: 45vh;
  left: 20vw;
  mix-blend-mode: exclusion;

}

#text5-3 {
  position: absolute;
  bottom: 15vh;
  right: 10vw;
  z-index: 100;
  mix-blend-mode: exclusion;
  font-size: 2vw;

}


/*SCREEN 6*/

.midday-halt {
  position: absolute;
  width: 50vw;
  top: 5vh;
  left: 5vw;
}

.cursor {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0vh;
  left: 0vw;
}

.way {
  position: absolute;
  width: 75vw;
  bottom: 0vh;
  left: 0vw;
  pointer-events: none;
  z-index: -100;
}

.mountain {
  position: absolute;
  height: 100vh;
  top: 0vh;
  right: -10vw;
  pointer-events: none;
  z-index: 0;
  /*  mix-blend-mode: exclusion;*/
}

.track-chart {
  position: absolute;
  width: 20vw;
  top: 40vh;
  left: 40vw;
  cursor: zoom-in;
  transition: transform .1s;
  z-index: 0;
  mix-blend-mode: exclusion;
  pointer-events: auto;
}

.track-chart:active {
  transform: scale(5);
}

#text6-1 {
  position: absolute;
  top: 15vh;
  left: 15vw;

  z-index: 100;
  font-size: 2vw;
}

#text6-2 {
  display: none;
  
  position: absolute;
  top: 50vh;
  left: 0vw;
  right: 0vw;

  z-index: 100;
  font-size: 2vw;
}

#text6-3 {
  display: none;
  
  position: absolute;
  top: 15vh;
  left: 55vw;
  width: 35vw;

  z-index: 100;
  font-size: 1vw;
}

#text6-4 {
  display: none;
  
  flex-direction: column;
  
  position: absolute;
  top: 25vh;
  left: 10vw;
  width: 15vw;
  
  z-index: 100;
  font-size: 1vw;
}


/*SCREEN 7*/

.ice {
  position: absolute;
  width: 40vw;
  bottom: 0vh;
  left: 50vw;
}

.icy {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: -100;
  background-image: url(../images/ice-alt3.png);
  background-repeat: repeat;
  background-size: 10vw;
}

.icy-gradient {
  position: absolute;
  top: 0;
  /*  height: 100vh;*/
  width: 100vw;
  z-index: -50;
  mix-blend-mode: multiply;
}

#text7-1 {  
  position: absolute;
  top: 15vh;
  left: 15vw;
  width: 30vw;

  z-index: 100;

  font-size: 4vw;
  }

#text7-3 {
  position: absolute;
  top: 0vh;
  left: 0vw;
  
  display: none;
  width: 45vw;
  font-size: 5vw;
  z-index: 100;
}

#text7-2 {
  display: none;
  width: 50vw;
  
  position: absolute;
  top: 0vh;
  left: 0vw;
  
  font-size: 2vw;
  
  z-index: 100;
}

#text7-4 {
  position: absolute;
  top: 0vh;
  left: 0vw;
  display: none;
  width: 50vw;
  font-size: 3vw;
  z-index: 100;
}

#text7-5 {
  display: none;
  z-index: 100;
  width: 75vw;
  position: absolute;
  top: 0vh;
  left: 0vw;
  font-size: 1.5vw;
}


/*SCREEN 8*/

.camp {
  position: absolute;
  top: 0;
  top: -10vh;
  left: -20vw;
  width: 90vw;
  mix-blend-mode: exclusion;
}

.camp-tilton {
  position: absolute;
  bottom: 0vh;
  left: -15vw;
  width: 40vw;
  /*  mix-blend-mode: exclusion;*/
}

.snow-houses {
  position: absolute;
  top: -10vh;
  right: -10vw;
  width: 70vw;
  mix-blend-mode: exclusion;
}

#text8-1 {
  position: absolute;
  top: 15vh;
  left: 15vw;

  z-index: 100;
}

#text8-2 {
  display: none;
  z-index: 100;
  width: 25vw;
  height: 10vw;
  position: absolute;
  top: 50vh;
  left: 50vw;
  font-size: 1.5vw;
  overflow: auto;
}

#text8-3 {
  display: none;
  z-index: 100;
  width: 50vw;
  height: 50vw;
  position: absolute;
  top: 0vh;
  left: 0vw;
  font-size: 3vw;
  overflow: auto;
}


/*SCREEN 9*/

.midnight-sun {
  position: absolute;
  top: 10vh;
  right: 0vw;
  width: 50vw;
  z-index: 0;
  pointer-events: none;
}

.midnight {
  position: absolute;
  top: 10vh;
  right: 0vw;
  width: 50vw;
  mix-blend-mode: difference;
  z-index: 100;
  pointer-events: none;
}

.aurora {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  mix-blend-mode: lighten;
}

#text9-1 {
  z-index: 100;
  width: 50vw;
  position: absolute;
  top: 10vh;
  left: 20vw;
  font-size: 1.5vw;
}

#text9-2 {
  z-index: 100;
  width: 25vw;
  position: absolute;
  bottom: 10vh;
  right: 10vw;
  font-size: 0.5vw;
}


/*SCREEN 10*/

#text10-1 {
  z-index: 100;
  width: 50vw;
  position: absolute;
  bottom: 10vh;
  right: 10vw;
  font-size: 2vw;
}

.deer {
  display: block;
  visibility: visible;
  position: absolute;
  width: 30vw;
  z-index: 100;
  left: 30vw;
  top: 0vh;
}

.fawns {
  position: absolute;
  width: 50vw;
  z-index: 200;
  right: -0vw;
  top: 0vh;
  pointer-events: none;
}

.deer-cursor {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  z-index: 400;
  /*  mix-blend-mode: lighten;*/
}

.deer-emoji {
  margin: 0;
  position: absolute;
  z-index: 100;
  left: 50vw;
  bottom: 0rem;
  display: inline;
  font-size: 1rem;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  pointer-events: none;
}

.deer-account {
  position: absolute;
  width: 50vw;
  z-index: 200;
  left: -0vw;
  top: 0vh;
  pointer-events: none;
}

/*SCREEN 11*/

.dogs {
  position: absolute;
  width: 70vw;
  /*  z-index: 200;*/
  left: 10vw;
  top: 10vh;
  pointer-events: none;
}

.feeding {
  position: absolute;
  width: 50vw;
  z-index: -100;
  right: -0vw;
  top: 0vh;
  pointer-events: none;
}

/*SCREEN 12*/

.blizzard {
  position: absolute;
  top: 0;
  z-index: 200;
  height: 100vh;
  width: 100vw;
  mix-blend-mode: lighten;
}

.blizzard-gradient {
  position: absolute;
  top: 0;
  /*  height: 100vh;*/
  width: 100vw;
  z-index: -500;
  mix-blend-mode: lighten;
}



/*SCREEN 13*/

.officers {
  position: absolute;
  width: 50vw;
  top: -5vh;
  left: 20vw;
}

.lopp {
  position: absolute;
  width: 25vw;
  bottom: 5vh;
  left: -10vw;
  z-index: -100;
}


/*SCREEN 14*/

.deer-alt {
  position: absolute;
  width: 30vw;
  z-index: 100;
  left: 30vw;
  top: 0vh;
  
  display: none;
}


.kill {
  position: absolute;
  width: 30vw;
  z-index: 100;
  right: 10vw;
  top: 10vh;
}

.knives-emoji {
  margin: 0;
  position: absolute;
  z-index: 100;
  left: 50vw;
  bottom: 0rem;
  display: inline;
  font-size: 1rem;
  pointer-events: none;
}

.kill-emoji {
  position: absolute;
  top: 0;
  z-index: 200;
  height: 100vh;
  width: 100vw;
  mix-blend-mode: exclusion;
}

.ducks {
  position: absolute;
  top: 20vh;
  left: 20vw;
  width: 10vw;
}

.whales {
  position: absolute;
  top: 50vh;
  left: -10vw;
  width: 30vw;
}

.seals {
  position: absolute;
  top: 10vh;
  left: 0vw;
  width: 20vw;
}

.skinning {
  position: absolute;
  bottom: 10vh;
  width: 20vw;
  right: 40vw;
}


/*SCREEN 15*/

.free-bear {
  position: absolute;
  right: -2vw;
  top: -1vh;
  width: 50vw;
  /*  z-index: -100;*/
  mix-blend-mode: darken;
}

.ice-break {
  position: absolute;
  right: 0vw;
  top: 1vh;
  width: 50vw;
  /*  z-index: -100;*/
  mix-blend-mode: darken;
}

.hauling-supplies {
  position: absolute;
  left: 20vw;
  bottom: -15vh;
  width: 75vw;
  z-index: -100;
/*  mix-blend-mode: darken;*/
}

/*NAVIGATION*/

nav {
  margin 0;
  padding: 0;
  position: fixed;
  z-index: 1000;
  top: 0.3rem;
  width: 100vw;
  border-style: solid;
  border-width: 0 0 1px;
  border-color: var(--blue);

  /*      bottom: 0rem;*/
  /*      background-color: white;*/
  /*      border-width: 1px 0 0;*/
  /*      height: 2rem;*/
}

ul,
li,
nav a {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  list-style: none;
  width: 6.67vw;
  align-items: center;

  color: var(--blue);
  
  font-family: chapman, serif;
  font-weight: 400;
  font-style: italic;
  font-size: 0.7vw;
  text-decoration: none;
}

nav a {
  padding-left: 0.3rem;
}

a:hover {
  color: black;
  background-color: var(--blue);
}


button {
  cursor: pointer;
}

.clickable {
  cursor: pointer;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  width: 1vw;
  height: 1vw;

  color: var(--blue);
  background-color: rgba(0, 0, 0, 0);
  border: solid var(--blue);
  border-width: 0 0 1px 1px;
}

.close:hover {
  background-color: var(--blue);
  color: black;
}

.box {  
  position: absolute;

  background-color: var(--transparent);
  border: 1px solid var(--blue);

  box-shadow: var(--shadow);
}

.button {
  color: var(--blue);
  border: solid var(--blue);
  border-width: 1px;

  padding: 0vw 0.5vw 0.2vw;

  cursor: pointer;
}

.button:hover {
  background-color: var(--blue);
  color: black;
}

.draggable:hover {
  cursor: grab;
  cursor: -webkit-grab;
}

.draggable:active {
  cursor: grabbing;
  cursor: -webkit-grabbing;
}


.hide:hover .deer-alt {
  display: block;
}

#text14-1 {
  z-index: 100;
  width: 35vw;
  position: absolute;
  bottom: 10vh;
  left: 5vw;
  font-size: 1.5vw;
  color: red;
}

.black {
  color: black;
}

#text11-2 {
  display: none;
  z-index: 100;
  width: 50vw;
  height: 75vh;
  position: absolute;
  top: 20vh;
  left: 20vw;
  font-size: 8vw;
  overflow: auto;
}

#text11-1 {
  display: flex;
  z-index: 100;
  position: absolute;
  top: 10vh;
  left: 10vw;
  font-size: 7vw;
}

#text11-3 {
  display: none;
  z-index: 100;
/*  width: 75vw;*/
  position: absolute;
  top: 10vh;
  left: 10vw;
  font-size: 1vw;
}

#text12-1 {
  z-index: 100;
  width: 50vw;
  height: 100vh;
  position: absolute;
  top: -1vh;
  left: 30vw;
  font-size: 9vw;  
  line-height: 6vw;
  mix-blend-mode: exclusion;
}

#text12-2 {
  width: 75vw;
  height: 100vh;
  position: absolute;
  top: 30vh;
  right: 0vw;
  font-size: 3vw;  
/*  color: black;*/
}

#text12-3 {
  width: 35vw;
  position: absolute;
  top: 10vh;
  left: 5vw;
  font-size: 3vw; 
/*  z-index: 100;*/
  color: black;
}

#text12-4 {
  width: 35vw;
  position: absolute;
  top: 10vh;
  left: 5vw;
  font-size: 2.5vw;  
  z-index: 100;
}

#text12-5 {
  z-index: 100;
  width: 50vw;
  position: absolute;
  bottom: 20vh;
  right: -5vw;
  font-size: 1vw;
  color: black;
}

#text13-1 {
  width: 30vw;
  position: absolute;
  top: 10vh;
  right: 12vw;
  font-size: 3vw;  
  color: black;
}

#text13-2 {
  width: 24vw;
  position: absolute;
  bottom: 20vh;
  left: 7vw;
  font-size:2vw;  
  color: black;
  z-index: -100;
}

#text15-1 {
  width: 50vw;
  position: absolute;
  top: 10vh;
  left: 10vw;
  font-size: 3.5vw;  
  color: black;
/*  line-height: 4.5vw;*/
}

#text15-2 {
  width: 50vw;
  position: absolute;
  bottom: 0vh;
  right: 0vw;
  font-size: 3.5vw;  
/*  color: black;*/
  text-align: right;
}

#text15-3 {
  display: flex;
  z-index: 100;
  position: absolute;
  top: 40vh;
  right: 10vw;
  font-size: 10vw;
}

#text15-4 {
  display: none;
}
