/*GLOBAL COLOR*/

:root {
  --blue: rgb(200, 240, 255);
}


/*REDACTION*/

@font-face {
  font-family: 'Redaction 35 Italic';
  src: url('../fonts/Redaction_2_001/Redaction_35-Italic.woff2') format('woff2');
}

@font-face {
  font-family: 'Redaction 50 Italic';
  src: url('../fonts/Redaction_2_001/Redaction_50-Italic.woff2') format('woff2');
}

@font-face {
  font-family: 'Redaction 70 Italic';
  src: url('../fonts/Redaction_2_001/Redaction_70-Italic.woff2') format('woff2');
}

@font-face {
  font-family: 'Redaction 100 Italic';
  src: url('../fonts/Redaction_2_001/Redaction_100-Italic.woff2') format('woff2');
}


body {
  margin: 0em;
  /*  background-color: black;*/
  /*  cursor: none;*/
}

#outer-wrapper {
  position: absolute;
  width: 100vh;
  height: 100vw;
  transform: rotate(-90deg) translateX(-100vh);
  transform-origin: top left;

  overflow-y: scroll;
  scroll-behavior: smooth;

  overflow-x: hidden;
}

#wrapper {
  display: flex;
  flex-direction: row;
  width: 1500vw;
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
  background-image: linear-gradient(90deg, black 50%, white 90%);

}

.screen {
  position: relative;
  width: 100vw;
  height: 100vh;
  scroll-snap-align: start;
  
}


.one {}

.two {}

.three {}

.four {}

.five {}

.six {}

.seven {}

.eight {}

.nine {}

.ten {}

.eleven {}

.twelve {}

.thirteen {}

.fourteen {}

.fifteen {}


#wrapper2 {
  display: none;
  flex-direction: row;
  width: 1500vw;
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
}

#wrapper2-1 {
  background-color: red;
}

#wrapper2-1 {
  background-color: green;
}




::selection {
  color: black;
  background-color: var(--blue);
}

p em {
  font-family: chapman, serif;
  font-weight: 400;
  font-style: italic;
}

p {
  font-family: chapman, serif;
  font-weight: 400;
  font-style: normal;
  text-align: justify;
  color: var(--blue);
  font-size: 1rem;
}

h5 {
  margin: 0;
  font-family: 'Redaction 100 Italic', serif;
  font-style: italic;
  font-weight: 500;

  font-size: 1rem;
  line-height: 9rem;
  color: var(--blue);

}

.headline {
  position: absolute;
  bottom: 0;
  padding: 5rem;
  color: var(--blue);
}

.intro {
  position: relative;
  top: 0;
  top: 10vh;
  left: 45vw;
  width: 50vw;
}


h1 {
  font-family: chapman, serif;
  font-weight: 400;
  font-style: normal;

  margin-bottom: 2rem;
  font-size: 10rem;
  line-height: 9rem;

}

h2 {
  margin: 0;
  font-family: 'Redaction 35 Italic', serif;
  font-style: italic;
  font-weight: 500;

  font-size: 10rem;
  line-height: 9rem;
}


.warning {
  text-decoration: underline;
  background-color: var(--blue);
  color: black;
}



/*SCROLLBAR*/

/* width */
::-webkit-scrollbar {
  width: 0.3rem;
}

/* Track */
::-webkit-scrollbar-track {
  background-image: linear-gradient(black 50%, white 90%);

}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--blue);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: white;
}


iframe {
  border: none;
  position: absolute;

}

#button, #button-end {
  position: absolute;
  width: 25vw;
  top: 50vh;
  left: 50vw;
  cursor: pointer;
}

.deer-emoji {
  margin: 0;
  position: absolute;
  z-index: 100;
  left: 50vw;
  bottom: 0rem;
  display: inline;
  font-size: 1rem;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.knives-emoji {
  margin: 0;
  position: absolute;
  z-index: 100;
  left: 50vw;
  bottom: 0rem;
  display: inline;
  font-size: 1rem;
}

.route {
  top: 0;
  left: 0;
  height: 150vh;
  position: absolute;
  z-index: -100;

}



/*IMAGES*/


/*SCREEN TWO*/

.bear {
  position: absolute;
  left: 10vw;
  top: 1vh;
  width: 50vw;
  /*  z-index: -100;*/
  mix-blend-mode: exclusion;
}


/*SCREEN THREE*/

.sled-dogs {
  position: absolute;
  left: -15vw;
  top: -25vh;
  width: 75vw;
  mix-blend-mode: exclusion;
}

.sled-deer {
  position: absolute;
  width: 75vw;
  top: 0vh;
  mix-blend-mode: exclusion;
}

.sled-sail {
    position: absolute;
  right: 12vw;
  top: 10vh;
  width: 50vw;
  mix-blend-mode: exclusion;
}


/*SCREEN FOUR*/

.natives1 {
  position: absolute;
  right: 25vw;
  top: 0vh;
  width: 50vw;
  mix-blend-mode: exclusion;
}

.natives2 {
  position: absolute;
  width: 30vw;
  bottom: -5vh;
  left: 10vw;
  mix-blend-mode: exclusion;
}

.grave1 {
  position: absolute;
  right: 0vw;
  bottom: 15vh;
  width: 25vw;
  mix-blend-mode: exclusion;
}

.grave2 {
  position: absolute;
  right: 25vw;
  bottom: 5vh;
  width: 25vw;
  mix-blend-mode: exclusion;
}

.grave3 {
  position: absolute;
  right: 10vw;
  bottom: 0vh;
  width: 25vw;
  mix-blend-mode: exclusion;
}


/*SCREEN FIVE*/

.hut {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  top: 0vh;
  left: 0vw;
  mix-blend-mode: darken;
}

.hut1 {
  position: absolute;
  width: 75vw;
  top: 1vh;
  left: 16vw;;

}

.hut2 {
  position: absolute;
  width: 50vw;
  top: 16vh;
  left: 27vw;
    mix-blend-mode: multiply;
}


.deer,
.kill {
  position: absolute;
  width: 30vw;
  z-index: 100;
  left: 30vw;
  top: 0vh;
}

.deer-alt {
  position: absolute;
  width: 30vw;
  z-index: 100;
  right: 0vw;
  top: 0vh;
}

.ice {
  position: absolute;
  width: 50vw;
  z-index: -100;
  bottom: -10vh;
}

.text1-1 {
  position: absolute;
  top: 15vh;
  left: 10vw;
}

.scroll {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  mix-blend-mode: lighten;
}

.kill-emoji {
  position: absolute;
  top: 0;
  z-index: 200;
  height: 100vh;
  width: 100vw;
}

.aurora {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  mix-blend-mode: lighten;
}

nav {
  margin 0;
  padding: 0;
  position: fixed;
  z-index: 1000;
  top: 0.3rem;
  width: 100vw;
  border-style: solid;
  border-width: 0 0 1px;
  border-color: var(--blue);
  
/*      bottom: 0rem;*/
/*      background-color: white;*/
/*      border-width: 1px 0 0;*/
/*      height: 2rem;*/

}


ul,
li,
nav a {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  list-style: none;
  width: 6.67vw;
  align-items: center;

  color: var(--blue);

  font-family: 'Redaction 70 Italic', serif;
  font-style: italic;
  font-weight: 500;
  font-size: 1rem;
  text-decoration: none;
}

nav a {
  padding-left: 0.3rem;

}

a:hover {
  color: black;
  background-color: var(--blue);
}


/*

.ground {
  background-color: white;
  bottom: 0;
  height: 5vh;
  width: 100vw;
  position: fixed;
  z-index: 1;
  border-style: solid;
  border-width: 1px 0 0;
  border-color: var(--blue);
}
*/


/*
.rainbow {
  position: absolute;
  width: 25vw;
  height: 25vh;
  bottom: 25rem;
}
*/